
@font-face {
	font-family: 'Sthenno Mono Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/SthennoMono-Thin.woff2') format('woff2'), url('TTF/SthennoMono-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Sthenno Mono Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/SthennoMono-Regular.woff2') format('woff2'), url('TTF/SthennoMono-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Sthenno Mono Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/SthennoMono-Bold.woff2') format('woff2'), url('TTF/SthennoMono-Bold.ttf') format('truetype');
}
